body {
    background: #bac5db;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    color: #545454;
}

.block-form {
    position: relative;
    background-color: #353a45;
    width: 666px;
    margin: 104px auto;
    padding: 50px 60px 67px 60px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 26px 49px rgba(35, 70, 133, 0.28);
}
.block-form .round {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background: linear-gradient(31deg, #47aae6, #9372bf);
    box-shadow: 1.5px 3px 0 rgba(0, 0, 0, 0.13);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}
.block-form .ring {
    margin: 6px;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #fff;
    line-height: 74px;
    text-align: center;
}
.block-form img {
    vertical-align: middle;
} 
.block-form .caption {
    font-weight: bold;
    color: #538fff;
    font-size: 48px;
    text-align: center;
    margin: 0 0 24px 0;
}
.block-form .description {
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin: 0 0 40px 0;
}
.block-form .form-wrapper {
    display: flex;
}
.block-form [type="email"] {
    height: 52px;
    padding: 0 17px;
    border-radius: 8px;
    flex-grow: 1;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    font-size: 20px;
    color: #666;
    transition-duration: 0.3s;
}
.block-form [type="email"]:focus {
box-shadow: 0 0 0 2px #2e67cf inset;
}
.block-form [type="submit"] {
    height: 52px;
    border-radius: 8px;
    background-color: #538fff;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    padding: 0 32px;
    font-weight: bold;
    margin: 0 0 0 13px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.block-form [type="submit"]:hover {
    background-color: #2e67cf;
}
.block-form .text {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    color: #787d87;
    margin: 20px 0 0 0;
}